/*footer*/
footer {
  background-color: #fff5e9;
  font-family: poppins;
}
.footer-body {
  display: flex;
  align-items: center;
}
.socmed img {
  height: 25px;
  width: 25px;
}

.socmed > ul {
  list-style-type: none;
  margin-right: 150px;
  margin-top: 50px;
}
.socmed > ul > li {
  padding: 5px 0;
}

.alamat > p {
  width: 400px;
  margin-top: 50px;
}

.foot {
  display: flex;
  justify-content: right;
  padding: 20px 0;
  color: #ff9d2b;
}
