/*font*/
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Merriweather:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Merriweather:wght@400;900&family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Merriweather:wght@400;900&family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Grandstander:wght@300&family=Merriweather:wght@400;900&family=Montserrat:wght@500&display=swap");
/*html bodyr*/
html {
  position: relative;
}
body {
  padding-top: 100px;
  background-color: #ffefdd;
}
/*navbar*/
.navbar {
  background-color: #e28ea5;
  font-family: Montserrat;
  width: 100%;
}

.navbar a {
  color: #cdb4db;
  font-size: 18px;
}

.main-nav .navbar-nav .nav-item .nav-link {
  text-align: center;
  font-size: 17px;
  color: white;
  width: 100%;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  background-color: #f5e7ca;
  color: white;
}
/*logo nav*/
.logo {
  width: 120px;
  height: 110px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
/*search*/
.form {
  flex-direction: row;
  padding-bottom: 10px;
  float: right;
}

.search-field {
  width: 500px;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 25px;
  outline: none;
  background-color: #f5f5f5;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: 45px;
}
.keranjang {
  width: 40px;
  height: 40px;
}

.search-container {
  display: flex;
  margin-top: 65px;
  justify-content: right;
}

/*flash sale*/
.flashsale-container {
  padding-top: 20px;
  margin-top: 80px;
  width: 1279px;
  height: 435px;
  background-color: #fff7f3;
}

/*footer*/
footer {
  margin-top: 50px;
}
.footer-body {
  display: flex;
  align-items: center;
}

.socmed > ul {
  list-style-type: none;
  margin-right: 150px;
}
.socmed > ul > li {
  padding: 5px 0;
}

.alamat > p {
  width: 400px;
}

.foot {
  display: flex;
  justify-content: right;
  margin-right: 20px;
  padding: 10px 0;
  color: #ff9d2b;
}
